.canvas-container{
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: auto;
}
.canvas-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at right top, var(--logo_color), transparent);
}

.canvas-frame{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: var(--color_1);
    border: var(--article-color_1) 1px solid;
    border-radius: 10px; 
    padding: 20px;
}

.frame-active{
    display: block;
}
