.top-bar{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: var(--color_4) 2px solid;
    background-color: var(--color_1);
}
.top-bar > header{
    display: flex;
    align-content: center;
    position: relative;
    height: 100%;
}
