/**
      #########@      %#####################################     ####   (###*   
    ######  #####     &####%&&&&&&&&&&&&&&&&&&&&&&&&&&&#####     ####&  ####%   
   ######&  &#####     @####@                         #####     .#####  #####   
  (######@  /######     @####@      %%%%%%%%%#       #####      @##### @#####   
  &######    ######      @####@      #######&       #####       ######@######&  
  (######@  /######       %####%      ######      ,#####        ##@###########  
   ######@  @#####         %####&     (####      #####%        ##@ /######  ##  
    %#####  #####      @#########      &##      ##########/    #@    ###%    #% 
      %########.       @#########       #%      ##########/    &      #@      % 

    PROYECTO OZYMANDIA
    @author Leonardo Moreno Pinto
    @link https://github.com/Lempi4K/Proyecto-Ozymandia
                    © 2023 Lempi4K
*/
@font-face {
    font-family: 'Cookie';
    src: url('/css/fonts/Cookie.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
:root{  
    --doc-height: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--font-color_1);
    transition: color, background-color 0.2s ease-in-out 0s;
    scrollbar-color: var(--color_1);
    --webkit-tap-highlight-color: transparent;
}

textarea, select, input, button, a, label { 
    outline: none;
    --webkit-tap-highlight-color: transparent;
}

:focus { 
    outline-color: transparent; 
    outline-style: none;
}

*::selection{
    background-color: #cdcdcd;
    color:  #a61c41;
}

body, html{
    width: 100vw;
    height: var(--doc-height);
}

body{
    background-color: var(--color_2);
}

img{
    line-height: 0px;
}
img::selection{
    background-color: rgba(0, 0, 0, 0);
}

.c_default{
    cursor: default;
}

.c_click{
    cursor: pointer;
}

.no_select::selection{
    background-color: rgba(0, 0, 0, 0);
    color: var(--font-color_1);
}

.clear-float{
    clear: both;
}

a:visited, a:hover, a:active, a:focus{
    outline: none;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
    padding: 1px;
    transition: all 0.2s ease-in-out 0s;
}
::-webkit-scrollbar-thumb{
    background-color: var(--logo_color);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--logo_color_hover);
}

.screenSaver{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 29;
    backdrop-filter: blur(5px);
    filter: opacity(0);

}
.screenSaver > video{
    height: 90%;
    border-radius: 10px;
}