.atContainer, .atMainContainer{
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.atReplazableContainer{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    margin-top: 45px;
    position: relative;
}

.atTopBar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 19;
}

.atMainContainer{
    display: grid;
    grid-template-rows: 50px 1fr;
}

.atSingleFrame{
    background-color: var(--color_2);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.atHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: radial-gradient(circle at right top, var(--color_1), var(--admintools-color_1) 50%);
}

.athHeaderTitle{
    font-family: var(--font-text_1);
    font-size: 20px;
    font-weight: normal;
    color: var(--font-color_2);
}

.athHeaderTitle i{
    color: var(--font-color_2);
}

#inpChckbxATOMenu1{
    display: none;
}
#inpChckbxATOMenu1 + label{
    display: block;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all ease-in-out 0.1s 0s;
}

#inpChckbxATOMenu1:checked + label{
    transform: rotate(0deg);
}

.atOpenMenu{
    font-size: 25px;
}

.atMenu{
    display: block;
    background-color: var(--admintools-color_2);
    backdrop-filter: blur(5px);
    overflow: hidden;
    height: 0px;
}

.atMenu li{
    list-style: none;
    margin: 5px;
}

.atMenu input[type="radio"]{
    display: none;
}

.atMenu ul{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.atMenu label{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all ease-in-out 0.1s 0s;
}

.atMenu label i{
    color: var(--font-color_2);
}

.atMenu label:hover{
    background-color: var(--admintools-hover-color_1);
}

.atMenu input[name="inpRdbtnMenu"]:checked + label{
    background-color: var(--admintools-select-color_1);
    transform: scale(1.1);
}

.atMenu input[name="inpRdbtnMenu"]:disabled + label{
    filter: brightness(0.5);
}
.atMenu input[name="inpRdbtnMenu"]:disabled + label:hover{
    background-color: transparent;
}

.atToolBar{
    display: flex;
    height: 30px;
    background-color: var(--admintools-color_3);
    margin: 0 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: var(--font-color_1) 1px solid;
    border-top: none;
    box-shadow: var(--font-color_1) 0px 0px 10px 1px;
    margin-bottom: 20px;
    justify-content: center;
}

.attButtons{
    display: block;
    width: 50%;
}

.attButtons ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0 10px;
}

.attButtons li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all ease-in-out 0.1s 0s;
}

.attButtons li i{
    font-size: 20px;
    color: var(--font-color_2)
}

.attButtonDisable{
    filter: brightness(0.8);
}

.attButtonDisable i {
    cursor: not-allowed;
}

.atFrame{
    height: 100%;
    border-radius: 10px;
    border: var(--article-color_3) 1px solid;
    overflow: auto;
}

.atTable{
    height: 100%;
    background-color: var(--article-table_tr2);
}

.atTable .article_table, .atTable .article_table tbody{
    border: none;
}

.article_table{
    margin-bottom: 0px;
}

.atTable .article_table tbody tr{
    transition: all ease-in-out 0.05s 0s;
    cursor: pointer;
}
.atTable .article_table tbody tr:hover{
    filter: brightness(0.85);
}

tr.selectedRow, .atTable .article_table tr.selectedRow:hover{
    filter: brightness(1.4);
    cursor: default;
}

tr.selectedRow td{
    background-color: var(--admintools-color_1);
}

.atTable .article_table thead{
    background-color: var(--admintools-color_1);
}

.atHideFrames{
    width: 100%;
    height: calc(100% - 45px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    display: none;
}

.athFrame{
    width: 90%;
    border-radius: 10px;
    background-color: var(--color_1);
    padding: 10px;
    box-shadow: var(--article-color_1) 0px 0px 5px 0px;
    max-height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.athTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;

}

.athButtons{
    display: flex;
    justify-content: space-around;
}

.atContainer input[type="button"], .atContainer input[type="submit"]{
    display: block;
    padding: 5px;
    margin: auto auto;
    color: var(--font-color_2);
    background-color: var(--admintools-color_1);
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    border: var(--admintools-color_1) 1px solid;
    transition: all 0.1s ease-in-out 0s;
    cursor: pointer;
}

.atContainer input[type="button"]:disabled, .atContainer input[type="submit"]:disabled{
    filter: brightness(0.7);
}
.atContainer input[type="button"]:disabled:hover, .atContainer input[type="submit"]:disabled:hover{
    color: var(--font-color_2);
    background-color: var(--admintools-color_1);
}

.atContainer input[type="button"]:hover, .atContainer input[type="submit"]:hover{
    color: var(--admintools-color_1);
    background-color: var(--font-color_2);
}

.athBody{
    display: flex;
    justify-content: center;
}

.athBody form .athFormElementsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.athForm{
    width: 100%;
}

.frmSelector{
    display: flex;
}

.athSubtitle{
    display: block;
    width: 80%;
    text-justify: left;
    font-size: 20px;
    margin-bottom: 10px;
}

.frmInpText > input[type="text"]:focus, .frmInpText > input[type="password"]:focus{
    border-color: var(--admintools-color_1);
}

.frmInpText > input[type="text"]:focus + label, .frmInpText > input[type="password"]:focus + label{
    color: var(--admintools-color_1);
}

.frmInpText > input[type="text"]:focus

.cnvEditElement{
    display: block;
}

.atReplazableContainer .form-elements > li > label > i > i{
    background-color: var(--admintools-color_1);
}

.frmPlatformData, .frmPersonalData {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.frmRadioBtn{
    display: block;
}

.athText{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
